<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css"  href="static/styles.css">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			<h2> SPAM DETECTOR APP USING NLP </h2>
		</div>
		<h1>Spam Detector For SMS / Email Messages</h1>
		
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p>Enter Your Message/Mail Here which you want to predict Spam or Ham</p>
		<textarea name="message" rows="6" cols="50"></textarea>
		<br/>

		<input type="Submit" class="btn-info" value="Predict">
		
	</form>
		
	</div>
	
</body>
</html>
